@charset "utf-8";

/*CLASSE AMIGO*/

* {
    font-family: Arial, Helvetica, sans-serif;
    

}

body{
     background-image: linear-gradient(to right,#BF4904,#F2BC8D);
    
}
div{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #bb916d; 
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.192);
    color: #732020;
    font-size: 17px;
}
h2{
    color: #BF4904;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.192);
    font-size: 15px;

}
h3{
    color: #F29F05;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.192);
    font-size: 15px;
}
p{
    text-align: justify;
    font-size: 15px;
}